@using Gym_MVC.Models
@model List <Staff>
@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personel</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th>
            <th scope="col">TC Kimlik NO</th>
            <th scope="col">Doğum Tarihi</th>
            <th scope="col">Durun</th>
            <th scope="col">Kategori</th>

            <th scope="col">GSM</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personel in Model)
        {
        <tr>
            <td> @personel.staffName </td>
            <td> @personel.staffSurname </td>
            <td> @personel.staffTC </td>
            <td> @personel.staffbirthDate </td>
            <td>
                @{
                    string aktiflik;
                    if (personel.staffState == true)
                    {
                        aktiflik = "Çalışıyor";
                    }
                    else
                    {
                        aktiflik = "Çalışmıyor";
                    }
                }
                @aktiflik
            </td>
            <td> @personel.StaffCategory1.categoryName </td>
            <td> @personel.staffGSM </td>

        </tr>
        }
    </tbody>
</table>
